

extends baseEmail 
block content
        p Hi #{firstName},
        p Забыли свой пароль? Отправьте patch-запрос с Вашим новым паролем (и подтверждённым паролем) по адрессу: #{url}
        p (Website for this action not yet implemented)
        table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
                tr
                    td(align='left')
                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                                tr
                                    td
                                        a(href=`${url}`, target='_blank') Reset your password
        p Если Вы не отправляли запрос на восстановление пароля, пожалуйста, проигнорируйте данное письмо!
        